# ===== Compiled/object files =====
*.o
*.hex
*.elf
*.map
*.d
*.bin
*.eep
*.lst
*.out
*.i
*.asm

# ===== Build folders =====
build/
Debug/
Release/

# ===== IDE folders =====
.vscode/
.idea/

# ===== Eclipse/IMT_SDK workspace artifacts =====
.metadata/
RemoteSystemsTempFiles/
.project
.cproject
.settings/

# ===== C compiled executables (no extension) =====
c_programming/**/lab
c_programming/**/lab[0-9]
c_programming/**/lab[0-9].[0-9]
c_programming/**/assignment
c_programming/**/Assignment
c_programming/**/excercise
c_programming/**/excercise[0-9]
c_programming/**/code
c_programming/**/out
c_programming/**/test
c_programming/clinic_management_system_project/src/main
src/main