*.o
*.hex
*.elf
*.map
*.d
*.bin
*.eep
*.lst
build/
.vscode/
.idea/
*.out
# executables
src/main
*.out
*.elf
*.hex

# object files  
*.o
*.map

# build folders
build/
c_programming/clinic_management_system_project/src/main
c_programming/clinic_management_system_project/src/main
